<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dashboard">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddProduct" />
        <activity android:name=".Admin" />
        <activity android:name=".pay_main" />
        <activity android:name=".editcard"/>
        <activity android:name=".addCard" />
        <activity android:name=".Visa_card" />
        <activity android:name=".add_payment_method" />
        <activity android:name=".cash" />
        <activity android:name=".Recipe" />
        <activity
            android:name=".Menu"
            android:parentActivityName=".Login" />
        <activity android:name=".Order"/>
        <activity android:name=".AddOrder"
            android:parentActivityName=".Order"/>
        <activity android:name=".Update_Order"/>
        <activity android:name=".EditUserProfile"
            android:parentActivityName=".AddOrder"/>
        <activity android:name=".UserProfile" />


        <activity android:name=".Login"
            android:parentActivityName=".MainActivity">

        </activity>
    </application>

</manifest>